/**
 *
 * Button Styles
 *
 * @version 1.0.0
 *
 * @author Vittorio Scaperrotta
 * @since 19-Jan-2025
*/

.button {
  align-items: center;
  background-color: transparent;
  border-radius: .5rem;
  display: flex;
  font-weight: 500;
  gap: .5rem;
  min-height: 2rem;
  padding: .5rem .75rem;
  transition: all .2s ease-in-out;
  white-space: nowrap;

  &:hover {
    cursor: pointer;
  }

  &__primary {
    background-color: #007BFF;
    border: .063rem solid #007BFF;
    color: #fff;

    &:hover {
      background-color: #0056b3;
      border: .063rem solid #0056b3;
      color: #fff;
    }
  }

  &__secondary {
    border: .063rem solid #333;
    color: #333;

    &:hover {
      background-color: #eee;
      border: .063rem solid #333;
      color: #333;
    }
  }

  &--error {
    background-color: #DC3545;
    border: .063rem solid #DC3545;
    color: #fff;

    &:hover {
      background-color: #9f2733;
      border: .063rem solid #9f2733;
      color: #fff;
    }
  }

  .button__label {
    font-size: .8rem;
    font-weight: 600;
    line-height: .6rem;
  }
}