// Path
$assets-image-url: "/assets/";

// Font Family

// Breakpoint
$break-desk: 80em;
$break-tablet-land: 64em;
$break-tablet-port: 48em;
$break-phone: 30em;

// Gutter Space
$gutter-horizontal: 2.5rem;