/**
 *
 * Table Styles
 *
 * @version 1.0.0
 *
 * @author Vittorio Scaperrotta
 * @since 25-Jun-2025
*/

.table__container {
  border: .036rem solid #aaaaaa;
  border-radius: .5rem;
  overflow: hidden;
  display: flex;
  overflow-x: auto;
  position: relative;
  width: 100%;

  table {
    border-collapse: collapse;
    width: 100%;

    thead {
      border: 0;
      background-color: #eee;

      // tr {}

      .table__header-name {
        color: #333;
        font-weight: 700;
      }
    }

    tbody {
      .table__no-data {
        color: #666;
        font-style: italic;
        text-align: center;
        padding: 2rem;
        background-color: #f9f9f9;
      }
    }

    tr {
      border-bottom: .036rem solid #aaaaaa;
    }

    th {
      padding: .75rem;
      text-align: left;
    }

    td {
      padding: .75rem;
      text-align: left;

      span {
        font-size: .8rem;
        white-space: nowrap;
      }
    }
  }

  .table__name {
    align-items: center;
    display: flex;
    gap: .5rem;
    font-weight: 700;
  }

  .table__note {
    width: 100%;
  }

  .table__status {
    display: flex;
  }

  .table__actions {
    display: flex;
    gap: 1rem;
  }
}