/**
 *
 * Card Styles
 *
 * @version 1.0.0
 *
 * @author Vittorio Scaperrotta
 * @since 25-Jun-2025
*/

.card__container {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  width: 100%;

  .card__label {
    color: #888;
    font-size: .8rem;
    font-weight: 500;
  }

  .card__value {
    font-size: 1.5rem;
    font-weight: 600;
  }
}