/**
 *
 * Home Styles
 *
 * @version 1.0.0
 *
 * @author Vittorio Scaperrotta
 * @since 31-Mar-2023
*/

.home__container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 100%;

  .home__search-bar {
    align-items: center;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    width: 100%;
  }
}