// Ubuntu Light
@font-face {
  font-family: "UbuntuLight";
  src: url("#{$font-path}/Ubuntu-Light.woff") format("woff"),
    url("#{$font-path}/Ubuntu-Light.ttf") format("truetype"),
    url("#{$font-path}/Ubuntu-Light.eot") format("embedded-opentype");
  font-style: normal;
}

// Ubuntu Regular
@font-face {
  font-family: "UbuntuRegular";
  src: url("#{$font-path}/Ubuntu-Regular.woff") format("woff"),
    url("#{$font-path}/Ubuntu-Regular.ttf") format("truetype"),
    url("#{$font-path}/Ubuntu-Regular.eot") format("embedded-opentype");
  font-style: normal;
}

// Ubuntu Regular
@font-face {
  font-family: "UbuntuMedium";
  src: url("#{$font-path}/Ubuntu-Medium.woff") format("woff"),
    url("#{$font-path}/Ubuntu-Medium.ttf") format("truetype"),
    url("#{$font-path}/Ubuntu-Medium.eot") format("embedded-opentype");
  font-style: normal;
}

// Ubuntu Bold
@font-face {
  font-family: "UbuntuBold";
  src: url("#{$font-path}/Ubuntu-Bold.woff") format("woff"),
    url("#{$font-path}/Ubuntu-Bold.ttf") format("truetype"),
    url("#{$font-path}/Ubuntu-Bold.eot") format("embedded-opentype");
  font-style: normal;
}
